<!DOCTYPE html>
<html lang="sk-SK">
<head>
	<title>@{title}</title>

	<!-- meta tags -->
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="@{keywords}">
	<meta name="author" content="@{author}">

	<!-- css tags -->
	<link type="text/css" rel="stylesheet" href="css/style.css">
	<link type="text/css" rel="stylesheet" href="css/dropdownmenu.css">
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css">

	<!-- javascript tags -->
	<script src="https://apis.google.com/js/api:client.js"></script>
	<script src="js/jquery-3.1.1.min.js"></script>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/script.js"></script>
</head>
<body>
@{include_html:navigator/menu-nav.htm}
	<div id="wrapper" class="container">
                <div id="loga">
                   <img src="image/interreg_small.png" alt="Logo Interreg Slovakia-Austria European Regional Development Fund" title="Logo Interreg Slovakia-Austria European Regional Development Fund"> 
                   <a href="http://www.robocoop.eu/sk"><img src="image/robocoop.png" border="0" alt="RoboCoop Project Logo" title="RoboCoop Project Logo"></a> 
                   <a href="http://robotika.sk/"><img src="image/robotika_small.png" alt="Logo Robotika.SK" title="Logo Robotika.SK" border="0"></a> 
                   <a href="http://www.fei.stuba.sk/"><img src="image/logo_fei_stu.png" border="0" alt="Faculty of Electrical Engineering and Information Technology, Slovak University of Technology" title="Faculty of Electrical Engineering and Information Technology, Slovak University of Technology"></a>&nbsp;
                   <a href="https://fmph.uniba.sk/"><img src="image/fmfi_small.png" alt="Logo Faculty of Mathematics, Physics and Informatics, Comenius University" title="Logo Faculty of Mathematics, Physics and Informatics, Comenius University" border="0"></a>&nbsp;
                   <a href="http://www.cvtisr.sk/"><img src="image/cvtisr_small.png" border="0" alt="Centrum vedecko-technických informácií SR" title="Centrum vedecko-technických informácií SR"></a>
                   &nbsp;&nbsp;
                   <img src="image/eu_flag_largest.png" alt="Vlajka EU" title="Vlajka EU">
                </div>
		<div id="content">
@{include_php:content}
		</div>
	</div>

</body>
</html>
