body {
    background-color: #bebebe !important;
}

@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('fonts/glyphicons-halflings-regular.eot');
	src: url('fonts/glyphicons-halflings-regular.eot?#iefix')
		format('embedded-opentype'),
		url('fonts/glyphicons-halflings-regular.woff2')
		format('woff2'),
		url('fonts/glyphicons-halflings-regular.woff')
		format('woff'),
		url('fonts/glyphicons-halflings-regular.ttf')
		format('truetype'),
		url('fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular')
		format('svg');
}


#custom-bootstrap-menu.navbar-default .navbar-brand {
	position: relative;
	z-index: 1;
}

#custom-bootstrap-menu.navbar-default .navbar-brand:hover {
	background-color: transparent !important;
}

#custom-bootstrap-menu.navbar-default {
	border: 0;
	border-radius: 0px;
    border-bottom: 4px solid #5cb85c;
    background-color: #1a1832;
}

#custom-bootstrap-menu.navbar-default a {
    color: #fff;
}

#custom-bootstrap-menu.navbar-default .navbar-left a {
	font-size: 15px;
}

#custom-bootstrap-menu.navbar-default ul.nav a:hover {
    background-color: #282645 !important;

}

.navbar-right ~ .navbar-right.profile {
	margin-right: 10px;
}

#wrapper{
    background-color: #fff;
    padding: 20px 60px;
}

h2 {
    background-color: #2b2743;
    font-size: 15px !important;
    padding: 8px;
    color: #fff !important;
}

h3 {
    font-size: 16px !important;
    font-weight: bold !important;
}

#content img {
	max-width:100%;
	max-height:100%;
}

#content ul#solutions {
	padding: 10px;
    background-color: #f5f4f6;

}

#content ul#solutions li.best1_1 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best1_1:before {
    content: "1";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best1_1:after {
	position: absolute;
    content: url(../image/rabbit.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best2_1 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best2_1:before {
    content: "2";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best2_1:after {
	position: absolute;
    content: url(../image/rabbit.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best3_1 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best3_1:before {
    content: "3";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best3_1:after {
	position: absolute;
    content: url(../image/rabbit.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best4_1 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best4_1:before {
    content: "4";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best4_1:after {
	position: absolute;
    content: url(../image/rabbit.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best5_1 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best5_1:before {
    content: "5";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best5_1:after {
	position: absolute;
    content: url(../image/rabbit.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best6_1 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best6_1:before {
    content: "6";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best6_1:after {
	position: absolute;
    content: url(../image/rabbit.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best7_1 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best7_1:before {
    content: "7";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best7_1:after {
	position: absolute;
    content: url(../image/rabbit.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best8_1 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best8_1:before {
    content: "8";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best8_1:after {
	position: absolute;
    content: url(../image/rabbit.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best9_1 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best9_1:before {
    content: "9";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best9_1:after {
	position: absolute;
    content: url(../image/rabbit.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best10_1 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best10_1:before {
    content: "10";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best10_1:after {
	position: absolute;
    content: url(../image/rabbit.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best1_2 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best1_2:before {
    content: "1";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best1_2:after {
	position: absolute;
    content: url(../image/tiger.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best2_2 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best2_2:before {
    content: "2";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best2_2:after {
	position: absolute;
    content: url(../image/tiger.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best3_2 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best3_2:before {
    content: "3";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best3_2:after {
	position: absolute;
    content: url(../image/tiger.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best4_2 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best4_2:before {
    content: "4";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best4_2:after {
	position: absolute;
    content: url(../image/tiger.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best5_2 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best5_2:before {
    content: "5";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best5_2:after {
	position: absolute;
    content: url(../image/tiger.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best6_2 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best6_2:before {
    content: "6";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best6_2:after {
	position: absolute;
    content: url(../image/tiger.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best7_2 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best7_2:before {
    content: "7";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best7_2:after {
	position: absolute;
    content: url(../image/tiger.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best8_2 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best8_2:before {
    content: "8";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best8_2:after {
	position: absolute;
    content: url(../image/tiger.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best9_2 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best9_2:before {
    content: "9";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best9_2:after {
	position: absolute;
    content: url(../image/tiger.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li.best10_2 {
	position: relative;
	background: transparent url(../image/cup.png) no-repeat 2px 3px;
}

#content ul#solutions li.best10_2:before {
    content: "10";
    position: absolute;
    top: 0;
    left: 0;
    color: black; 
    font-weight: bold;
	font-size: 10px;
    padding: 3px 7px; 
}

#content ul#solutions li.best10_2:after {
	position: absolute;
    content: url(../image/tiger.png);
	top: 0;
    left: 0;
    margin-left: 20px; 
}

#content ul#solutions li {
	padding: 2px 0;
	padding-left: 30px;
	list-style: none;
}

#photo_gallery {
	padding: 0;
	margin: 5px -10px;
}

#photo_gallery a, #photo_gallery li {
	text-align: center;
	margin: 10px;
	list-style: none;
	display: inline-block;
}

/* TABLE OF RESULTS */

table.result-table {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/tableResultsBg2.png");
    border-collapse: collapse;
    width: 100%;
}
table.result-table tbody tr:nth-child(even) {background-color: rgba(242, 242, 242, 0.85)}
table.result-table tbody tr:nth-child(odd) {background-color: rgba(187, 187, 187, 0.85)}

table.result-table tbody td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    color: black;
}

table.result-table  a {
    text-decoration: none;
    color: black;
}

table.result-table tbody th {
    padding: 15px;
    background-color: #1a1832;
    color: white;
}

table.result-table tbody th a {
    color: white;
}

/**=========================================*/

/* LOGIN BOX */
.navbar-collapse{
    position: relative;
}

#loginBox {
    position: absolute;
	z-index: 10;
    top: 60px;
    right: 0;
    background-color: #5cb85c;
    padding: 10px 15px;
}

#loginBox #mail,
#loginBox #password {
	padding: 3px;
	border: none;
}

#loginBox li {
	list-style: none;
	text-align: right;
	padding: 5px 0;
}

#loginBox.hide {
	display: none;
}

#loginBox label {
    color: #fff;
}

ul.assignments-overview li>span {
	display: inline-block;
	width: 150px;
}

ul.assignments-overview button {
	margin-left: 10px;
}

ul.assignments-overview {
	margin-top: 20px;
	padding: 0;
}

ul.assignments-overview li {
	list-style: none;
	margin-bottom: 5px;
}

ul.assignments-overview.published {
	margin: 5px 0 30px 0
}

ul.assignments-overview.list li a, ul.assignments-overview button {
	margin-left: 10px;
	float: right;	
}

ul.assignments-overview.list li {
	padding: 4px;
	background: #f5f5f5;
}

ul.assignments-overview.list li input[type="checkbox"] {
	float: left;
	margin-right: 10px;
}




/* GOOGLE LOGIN */
.loginBtn {
	background: #dd4b39 url(../image/icon_google.png) 6px 6px no-repeat;
	padding: 0 15px 0 46px;
	box-sizing: border-box;
	border-radius: 3px;
	line-height: 34px;
	font-size: 14px;
	color: #fff;
	display: inline-block;
}

.loginBtn:hover {
	background-color: #e74b37;
	text-decoration: none;
}

.multiupload {
	margin-bottom: 10px;
}

.upload_image {
	overflow: hidden;
	padding: 0;
}

.upload_image a {
	margin: 0 10px;
}

.upload_image li {
	
	margin-bottom: 5px;
	list-style: none;
}

.upload_image li img {
	width: 50px;
}

p.fix_height_solution {
	height: 480px;
}


#solution {
	height: 450px;
	width: 100%;
}

#upload_image {
	overflow: hidden;
	padding: 0;
}

#upload_image a {
	margin: 0 10px;
}

#upload_image li {
	margin-bottom: 5px;
	list-style: none;
}

#upload_image li img {
	width: 50px;
}

#pager a {
	margin-right: 20px;
}

#pager {
	margin-top: 40px;
}

#youtube_link {
	width: 300px;
}

#registration li {
	list-style: none;
	margin-bottom: 5px;
	overflow: hidden;
}

#registration li span {
	display: inline-block;
	width: 100px;
}

#registration li input[type="radio"] {
	margin: 0 10px;
}

#rating,
#rating li {
	list-style: none;
	margin: 0;
	padding: 0;
}

#rating li textarea {
	width: 100%;
	min-height: 50px;
}


.rating_was_saved {
	margin-left: 20px;
	padding-left: 20px;
	font-weight: bold;
	display: inline-block;
	background: transparent url(../image/tick.png) no-repeat 0 1px;
}

.commented {
	float: left;
	width: 16px;
	height: 16px;
}

.number_in_row{
	margin-left: 5px;	
	font-weight: bold;
}
.space{
	margin-left: 20px;		
}
.space1{
	margin-left: 10px;	
	
}

.comment_block {
	padding: 10px;
	background: #eee;
	margin-bottom: 10px;
}

#save_comment {
	padding-top: 30px;
}


/* GOOGLE LOGIN */

@media screen and (max-width: 767px) {
	#loginBtn {
		width: 100%
	}
}


/**=========================================*/

/* RESULTS TABLE */

#resultsTable {
    position: relative;
    min-width:200px;
    float: none;
    padding-bottom: 20px;
}

div.teamResults {
    position: relative;
    background-color: azure;
    display: inline-block;
    width: 100%;
    clear: both;
    min-width: 310px;
}

#resultsTableLabel {
   min-height: 35px;
   background-color: #1a1832;
   border-radius: 5px;
   border: 2px solid #1a1832;
   margin: 4px 0px;
}

#resultsTableLabel div{
   color: #fff;
}

div.teamResults:hover div.teamScoreTotalxs:not(.lbl),
div.teamResults:hover div.teamScoreTotal:not(.lbl){
    background-color: #5cb85c;
    color: #fff;
    font-weight: bold;
}
div.teamResults:hover div.teamName:not(.lbl) {
    font-weight: bold;
}

div.teamResults:hover div.score:not(.lbl):not(.greenCell):not(.blueCell):nth-child(even) {
   background-color: rgb(240, 240, 240);
}
div.teamResults:hover div.score:not(.lbl):not(.greenCell):not(.blueCell):nth-child(odd) {
   background-color: rgb(235, 235, 235);
}

div.teamResults > div{
   float: left;
}
div.allScores > div{
   float:left;
}
div.allScores{
    margin-top: 4px;
    position:relative;
    width: 60%;
}

div.allScores > div {
    text-align: center;
    width: 10%;
    min-width: 30px;
}

div.greenCell {
    background-color: rgb(200, 255, 200);
}
div.blueCell {
    background-color: rgb(200, 200, 255);
}

div.score:not(.lbl) {
    border-left: 1px solid rgb(200, 200, 200);
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
}
div.allScores:not(.lbl) > div:last-child {
    border-right: 1px solid rgb(200, 200, 200);
}

div.teamName{
    margin-top: 4px;
    width: 25%;
    min-width: 140px;
    overflow: hidden;
    padding-left: 10px;
}

div.assignmentNumber {
    display: none;
}

div.teamScoreTotal.lbl {
    margin-top: 4px;
}

div.teamScoreTotalxs,
div.teamScoreTotal{
    width: 10%;
    text-align:center;
    float: right !important;
}

div.teamScoreTotalxs:not(.lbl),
div.teamScoreTotal:not(.lbl){
    margin: 2px;
    border-radius: 5px;
    border: 2px solid #5cb85c;
}


div.teamScoreTotalxs{
    display: none;
}

@media (max-width: 760px) {
    div.teamScoreTotal {
        display:none;
    }

    div.teamName {
        display:block;
        width: 70%;
    }
    div.teamScoreTotalxs {
        display:block;
        width: 25%;
    }

    div.allScores{
        width: 100%;
        clear: both;
    }

    div.assignmentNumber {
        display: block;
        float: left;
   }
    div.teamResults:nth-of-type(odd){
        background-color: rgb(240, 240, 240);
    }
    div.teamResults:nth-of-type(even) {
        background-color: rgb(235, 235, 235);
    }
    div.teamResults:hover {
        background-color: #fff;
        border: 1px solid rgb(200, 200, 200);
    }


}

#task { 
    color: #fff;
    text-decoration: underline;
    font-weight: bold;
}







