				<h2>Vitajte a pozrite si:</h2>
<iframe width="640" height="360" src="https://www.youtube.com/embed/H484SK4cSvE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<h2>Oznamy:</h2>
				<ul>
					<li><b>Termíny sme posunuli ešte o týždeň (1. kolo: 1.marca), aby ste mali dostatok času na všetky kolá</b></li>
					<li><i>Robotická liga 2019 práve štartuje, pridajte sa! Aj tento rok sa hrá o stavebnicu LEGO MINDSTORMS Education EV3! (pre slovenské (1ks) rakúske (1ks) a české tímy (1ks, ak sa ich zapojí aspoň 7)</i></li>
					<li>V prípade ťažkostí s nahrávaním riešenia ho môžete poslať aj mailom na <i>pavel.petrovic@gmail.com</i></li>
				</ul>

				<h2>Staviate radi roboty zo stavebníc LEGO? Ak áno, riešte Robotickú ligu!</h2>
				<ul>
					<li>štartujeme v druhej polovici januára</li>
					<li>bude 8 kôl, ale zapojíť sa môžete do všetkých alebo hoci len do jedného z nich</li>
					<li>pre viacčlenné tímy vo veku 9-16 rokov (súťaž je nezávislá od FLL)</li>
					<li>každé dva týždne nové zadanie s dvomi úlohami, na riešenie máte vždy mesiac</li>
					<li>vecné ceny v každom kole</li>
					<li>fair play a zdravý súťažný duch</li>
                                        <li>účasť je bezplatná a za 1 polrok môžete vyriešiť až 16 rôznych projektov!</li>
                                        <li>v Robotickej lige nezažijete frustráciu ako keď na turnaji zle položíte robota na štart, alebo zabudnete pripojiť nejakú súčiastku, máte toľko času a počet pokusov, koľko potrebujete, cieľom nie je stresovať, ale ukázať, že ste úlohu vyriešili!</li>
					<li>ani vy nemôžete chýbať!</li>
				</ul>

				<h2>Pravidlá</h2>
				<ul>
					<li>Na krúžku, v klube alebo doma tím samostatne a načas vyrieši úlohu a odovzdá svoje riešenie na týchto stránkach.</li>
                                        <li>Tím má dospelého vedúceho, ktorý za aktivity tímu a nahratý obsah zodpovedá, ale súťažiacim pri riešení úloh nepomáha.</li>
					<li>Riešenie obsahuje: 
                                          <ol>
						<li>popis riešenia, </li>
						<li>spoločné foto vášho tímu, </li>
						<li>foto robota, z ktorého vidno ako je skonštruovaný</li>
						<li>program</li>
						<li> a video ako robot vyrieši úlohu.</li>
					</ol>
 <i>Tip: svoje video na YouTube označte ako "unlisted"
                            a nik ho pred termínom odoslania nenájde, aj keď ho tam už budete mať. Pri nahrávaní videa sa snažte, aby ste kamerou/telefónom čo najmenej triasli, aby sa na video dalo dívať, nahrajte viac ako jednu situáciu, ale pokúste sa vojsť do 2 minút. Video prosím nahrávajte na šírku nie na výšku. Do videa nezaraďujte fotografie, tie nahrajte priamo.</i>
					</li>
					<li>Môžete použiť ľubovoľné súčiastky LEGO, okrem toho gumičky, lanká a pod. Môžete použiť ľubovoľný programovací jazyk, hoci odporúčame štandardný programovací jazyk NXT-G, EV3, alebo Robolab.</li>
					<li>Vaše riešenie získa do celkového ligového hodnotenia 0-3 body - započíta sa vám tá z dvoch úloh, za ktorú získate lepšie hodnotenie. Môžete vyriešiť obidve, nevyužité body budeme tiež evidovať a nakoniec nejako oceníme.</li>
					<li>Riešenia hodnotí skupina nezávislých rozhodcov.</li>
					<li>Ak sa vám zdá úloha náročná, zjednodušte si ju podľa potreby! Aj čiastočné riešenie nás zaujíma a môžete získať aspoň časť bodov.</li>
				</ul>

				<h2>Ako hodnotíme?</h2>
				<p>
                    Vaše riešenia si dôkladne prezrú títo štyria ľudia: Dominika - študentka informatiky FMFI UK, Miška alebo Karolína - šikovné odborné asistentky z FMFI UK, Miška - z FMFI UK a Rišo - učiteľ na FEI STU, organizáciu súťaže koordinuje Paľo Petrovič - učiteľ na FMFI UK:
				</p>
				<ul id="photo_gallery">
					<li><img src="image/dominika_harmanova.jpg"><br>Dominika Harmanová</li>
					<li><img src="image/michaela_veselovska.jpg"><br>Michaela Veselovská</li>
					<li><img src="image/karolina_mayerova.jpg"><br>Karolína Mayerová</li>
					<li><img src="image/michaela_axamitova.jpg"><br>Michaela Axamitová</li>
					<li><img src="image/richard_balogh.jpg"><br>Richard Balogh</li>
					<li><img src="image/pavel_petrovic.jpg"><br>Pavel Petrovič</li>
				</ul>
				<p>
                    Každý z nich nezávisle od ostatných pridelí 0-3 body podľa toho, či riešenie je kompletné (obsahuje obrázky, video, program, dobrý popis a robot robí to, čo má) a nakoľko ich zaujme. Do tabuľky sa vám započíta aritmetický priemer. Vyhodnocujeme zvlášť slovenské a medzinárodné poradie.
				</p>
				<p><i>Poznámka: Robotická liga nie je priamou súčasťou FLL, je určená na predsúťažný tréning a pripravuje ju združenie <a href="http://robotika.sk/" target="_top">Robotika.SK</a> v spolupráci s <a href="http://www.fmph.uniba.sk/">FMFI UK</a>, <a href="http://www.fei.stuba.sk/">FEI STU</a> a <a href="http://www.cvtisr.sk/">CVTI SR</a>. RL je súčasťou projektu Robocoop financovaného z projektu Interreg.</i></p>
                                <p>GDPR: Robotická liga je on-line platforma na zdieľanie riešení. Za obsah a súhlas s publikovaním riešení, fotodokumentácie a videodokumentácie zodpovedá ten, kto riešenia na stránku nahral. Riešenia zostávajú v archíve zverejnené neobmedzene. Robotika.SK okrem toho archivuje e-mailové adresy tímov zadané v registrácii pre účel komunikácie s tímami. V prípade, že požadujete, aby niektoré fotografie, alebo mailové adresy boli zo stránky odstránené, napíšte na e-mail: pavel.petrovic@gmail.com. Účasťou v súťaži súťažiaci vyjadrujú súhlas s týmito pravidlami.</p>
			</div>
