
                 <h2>Willkommen in der Robot League!</h2>
                <h2>Einführung:</h2>
                <ul>
                    <li><i> Die Roboterliga 2023 startet im Januar. Schließ dich uns an! Teilnehmer aus aller Welt sind eingeladen, der Open League beizutreten – lerne mit uns allen zusammen!  </i></li>
                    <!-- <li><b>In diesem Jahr können Sie zusätzliche Punkte verdienen, wenn Sie mindestens eine Runde der Partnerroboterliga in Österreich lösen:</b><ul><li>Registrazion und Informazion: <a href="https://ecer.pria.at/">ECER 2021</a></li></ul></li> 
		    <li><b>Die letzten Daten für das Hochladen von Lösungen im Jahr 2021: 9. April, 28. April, 15. Mai, 29. Mai, 17. Juni.</b></li> -->

		    <li><b>Die letzten Daten für das Hochladen von Lösungen im Jahr 2023:</b><br>
                         <table style="background-color:#D0D0EE">
                                            <tr style="background-color:#A0A0EE">
                                                    <th>&nbsp;</th>
                                                    <th>&nbsp;&nbsp;&nbsp;&nbsp;Runde&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                    <th>&nbsp;&nbsp;Aufgabenbeschreibung veröffentlicht von&nbsp;&nbsp;</th>
                                                    <th>&nbsp;&nbsp;letzter Tag zum Hochladen Ihrer Lösung&nbsp;&nbsp;</th><th>&nbsp;</th></tr>
                                            <tr height="3"></tr>
					    <tr align="center"><td width="20">&nbsp;</td><td>1</td><td>15.1.2023</td><td><s>26.2.2023</s> <b>5.3.2023</b></td><td width="30">&nbsp;</td></tr>
					    <tr align="center"><td></td><td>2</td><td>19.2.2023</td><td><s>26.3.2023</s> <b>31.3.2023</b></td></tr>
                                            <tr align="center"><td></td><td>3</td><td>19.3.2023</td><td>30.4.2023</td></tr>
                                            <tr align="center"><td></td><td>4</td><td>16.4.2023</td><td>28.5.2023</td></tr>
                                            <tr align="center"><td></td><td>5</td><td>14.5.2023</td><td>25.6.2023</td></tr></table>

		    </li>
                    <li>Bei Problemen mit dem Hochladen einer Lösung kannst du diese per E-Mail an folgende Adresse senden: : <i>pavel.petrovic@gmail.com</i></li>
                </ul>

                <h2>Du baust und programmierst gerne LEGO Roboter? Tritt der Robotic League bei!</h2>
                <ul>
                    <li>Es gibt 5 Runden, aber du kannst, an einer beliebigen Anzahl davon teilnehmen</li>
                    <li> Dies ist für Teams mit mehreren Mitgliedern im Alter von 9 bis 16 Jahren (Wir sind ein unabhängiger Wettbewerb, das heißt du musst nicht als FLL Teilnehmer registriert sein.) </li>
                    <li> alle ca. 4 Wochen bekommst du zwei neue Aufgaben, und du hast mindestens 5 Wochen Zeit, um sie zu lösen </li>
		    <li>in jeder Runde gibt es Aufgaben für Hasen (2 Aufgaben) und für Tiger (2 Aufgaben)</li>
		    <li> jedes Team wird wählen, ob es eine Hasen- oder Tiger-Aufgabe einreichen möchte, sie werden in einer separaten Ergebnistabelle punkten. Kaninchen-Aufgaben sind für diejenigen gedacht, die dieses Schuljahr oder vor kurzem mit den Roboter-Sets begonnen haben, und Tiger-Aufgaben für den Rest von uns</li>
		    <li>zusätzlich zur Lösung einer Aufgabe können Sie Informationen zu jedem anderen von Ihnen gebauten Robotermodell hochladen (auch nicht aus LEGO-Teilen). Wir werden auch diese Modelle evaluieren, aber der Hauptzweck besteht darin, sie mit anderen Teams, Besuchern und uns zu teilen! Diese Modelle werden auf <a href="https://galeria.robotika.sk/">galeria.robotika.sk</a> veröffentlicht – bitte kontaktieren Sie uns unter pavel.petrovic@gmail.com, wenn Sie einen Beitrag leisten möchten!</li> 
                    <li> ein faires Spiel und gute Teamfähigkeit </li>
                    <li> teilzunehmen kostet nichts! Du kannst bis zu 16 Aufgaben lösen!  </li>
                    <li> Beim Turnier hast du und der Roboter so viel Zeit und Versuche wie du benötigst, um die Mission abzuschließen </li>
                    <li> Das solltest du nicht verpassen!  </li>
                </ul>

                <h2>Regeln</h2>
                <ul>
                    <li> Ein Team löst einen Auftrag im Club, in der Schule oder zu Hause und lädt seine Lösung auf diese Website.  </li>
                    <li> Jedes Team hat einen erwachsenen Leiter, der für die Aktivitäten des Teams und den hochgeladenen Inhalt verantwortlich ist, aber der Leiter darf dem Team nicht beim Lösen der Aufgaben helfen.  </li>
                    <li> Eine Lösung soll enthalten: <ol>
			<li> Beschreibung der Lösung, </li>
			<li>ein Foto des Teams,</li>
			<li>ein Foto des Roboters, der zeigt, wie dieser aufgebaut ist</li>
			<li>das Programm</li>
			<li>und ein Video des Roboters, der das Problem löst.</li>
			</ol>
			<I> Hinweis: Niemand wird dein Video  auf YouTube finden, wenn du es als "nicht gelistet" markierst, selbst wenn du es vor dem aktuellen Termin hochlädst. Achte beim Aufnehmen des Videos darauf, dass das Telefon / die Kamera stabil ist. Nimm mehrere Situationen auf, damit die Jury sehen kann, dass dein Roboter die Aufgabe wirklich löst. Versuche, nicht länger als 2 Minuten zu benötigen. Bitte verwende den Querformatmodus. 
</i></li>
                   <li> Du kannst alle LEGO Teile sowie Gummibänder und Seile verwenden. Jede Programmiersprache ist erlaubt. Wir empfehlen jedoch die Standard-programmiersprache NXT-G, EV3 oder Robolab </li>
                   <li> Deine Lösung wird mit 0-3 Punkten bewertet, die dem Fortschritt deines laufenden Jahres hinzugefügt werden. Die bessere Punktzahl aus den beiden Aufgaben in der Zuordnung wird gezählt. Du kannst trotzdem beide Aufgaben lösen (die andere Punktezahl wird separat gezählt).  </li>
                    <li> Eine unabhängige Jury ist für die Bewertung deiner Lösungen verantwortlich </li>
                    <li> Wenn du einen Auftrag als zu schwierig empfindest, vereinfache ihn entsprechend deinen Bedürfnissen! (Und erkläre es in der Lösung) </li>
                </ul>

                <h2>Wie bewerten wir?</h2>
                <p>
Deine Lösungen werden von diesen 4 Personen genau analysiert von: Dominika - IT-Student von FMFI UK, Karolína - Assistenzprofessorin von FMFI UK, Miška von FMFI UK, der uns bei der Organisation von FLL unterstützt, Palo von FMFI UK, und Rišo - Lehrer an FEI STU. Der Wettbewerb wird von Pavel Petrovič, Leherer an FMFI UK koordiniert: 
                </p> 
				<ul id="photo_gallery">
					<li><img src="image/karolina_mayerova.jpg"><br>Karolína Miková</li>
					<li><img src="image/michaela_axamitova.jpg"><br>Michaela Axamitová</li>
					<li><img src="image/richard_balogh.jpg"><br>Richard Balogh</li>
					<li><img src="image/pavel_petrovic.jpg"><br>Pavel Petrovič</li>
				</ul>
                <p>
                </p>
                <br>
                <p><i>Hinweis: Die Robotic League ist kein direkter Bestandteil von FLL. Sie sollte als Training von 
<a href="http://robotika.sk/" target="_top">Robotika.SK</a> und <a href="http://www.fmph.uniba.sk/">FMFI UK</a>, <a href="http://www.fei.stuba.sk/">FEI STU</a>, <a href="http://www.cvtisr.sk/">CVTI SR</a> vor dem Wettkampf betrachtet werden. RL ist Teil des Projekts Robocoop, das vom EU-Projekt Interreg finanziert wird.</i></p>
            </div>
