
				<h2>Vitajte a pozrite si:</h2>
<iframe width="640" height="360" src="https://www.youtube.com/embed/H484SK4cSvE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<h2>Oznamy:</h2>
				<ul>
					<li><i>Robotická liga 2023 začína v januári, pridajte sa! </i></li>
                                    <!--    <li><b>V tomto ročníku môžete získať dodatočné body, ak vyriešite aspoň jedno kolo partnerskej rakúskej robotickej ligy:</b><ul>
				    <li>registrácia a informácie: <a href="https://ecer.pria.at/sk/homepage-sk/">stránky ECER</a></li></ul></li> -->
		    <li><b>Termíny odovzdávania jednotlivých kôl v roku 2023:</b> <br>
				    <table style="background-color:#D0D0EE">
					    <tr style="background-color:#A0A0EE">
						    <th>&nbsp;</th>
						    <th>&nbsp;&nbsp;&nbsp;&nbsp;kolo&nbsp;&nbsp;&nbsp;&nbsp;</th>
						    <th>&nbsp;&nbsp;zadania zverejnené najneskôr&nbsp;&nbsp;</th>
						    <th>&nbsp;&nbsp;termín na odovzdanie riešenia&nbsp;&nbsp;</th><th>&nbsp;</th></tr>
					    <tr height="3"></tr>
					    <tr align="center"><td width="20">&nbsp;</td><td>1</td><td>20.1.2023</td><td><s>26.2.2023</s> <b>5.3.2023</b></td><td width="30">&nbsp;</td></tr>
					    <tr align="center"><td></td><td>2</td><td>19.2.2023</td><td><s>26.3.2023</s> <b>31.3.2023</b></td></tr>
					    <tr align="center"><td></td><td>3</td><td>19.3.2023</td><td>30.4.2023</td></tr>
					    <tr align="center"><td></td><td>4</td><td>16.4.2023</td><td>28.5.2023</td></tr>
					    <tr align="center"><td></td><td>5</td><td>14.5.2023</td><td>25.6.2023</td></tr></table>

		    </li>
		    <li><b>Úspešné tímy budú pozvané na jednodňové sústredenie, ktoré sa bude konať na konci júna.</b></li>
					<li>V prípade ťažkostí s nahrávaním riešenia ho môžete poslať aj mailom na <i>pavel.petrovic@gmail.com</i></li>
				</ul>

				<h2>Staviate radi roboty zo stavebníc LEGO? Ak áno, riešte Robotickú ligu!</h2>
				<ul>
					<li>bude 5 kôl, ale zapojíť sa môžete do všetkých alebo hoci len do jedného z nich</li>
					<li>pre viacčlenné tímy vo veku 9-16 rokov (súťaž je nezávislá od iných súťaží)</li>
					<li>približne každé 4 týždne nové zadanie s dvomi úlohami, na riešenie máte vždy aspoň 5 týždňov!</li>
					<li>v každom zadaní bude zadanie pre zajacov (2 úlohy) aj pre tigrov (2 úlohy)</li>
					<li>každý tím si vyberie, či odovzdáva zajačie alebo tigrie zadanie, vyhodnocujú sa samostatne. zajačie zadania sú určené pre tých, ktorí začali so stavebnicami pracovať tento školský rok, alebo nedávno, tigrie pre ostatných</li>
					<li>okrem toho, že tím odovzdá riešenie úlohy, môže s každým zadaním odovzdať aj ľubovoľný iný robotický model (nemusí byť poskladaný z LEGO stavebnice); táto "kategória" je niečo ako "voľná jazda", akoby tretia liga popri zajacoch a tigroch a je tiež vyhodnocovaná zvlášť; je určená najmä pre robotické krúžky, aby počas roka mohli zdieľať svoju činnosť s ostatnými! Vaše riešenia potešia ostatných - riešiteľov, návštevníkov stránok i nás! Roboty v tejto kategórií sú zverejňované na stránkach <a href="https://galeria.robotika.sk/">galeria.robotika.sk</a> - ak chcete odovzdať nový projekt, napíšte nám (pavel.petrovic@gmail.com, subjekt: roboticka liga) a pošleme Vám prístupové údaje na editovanie stránky.</li>
					<li>ako vždy vecné ceny v každom kole</li>
					<li>fair play a zdravý súťažný duch</li>
                                        <li>účasť je bezplatná a za 1 polrok môžete vyriešiť množstvo rôznych projektov!</li>
                                        <li>v Robotickej lige nezažijete frustráciu ako keď na turnaji zle položíte robota na štart, alebo zabudnete pripojiť nejakú súčiastku, máte toľko času a počet pokusov, koľko potrebujete, cieľom nie je stresovať sa, ale ukázať, že ste úlohu vyriešili!</li>
					<li>ani vy nemôžete chýbať!</li>
				</ul>

				<h2>Pravidlá</h2>
				<ul>
					<li>Na krúžku, v klube alebo doma tím samostatne a načas vyrieši úlohu a odovzdá svoje riešenie na týchto stránkach.</li>
                                        <li>Tím má dospelého vedúceho, ktorý za aktivity tímu a nahratý obsah zodpovedá, ale súťažiacim pri riešení úloh nepomáha, čiže neradí deťom nápady na spôsoby riešenia, nezapája sa do tvorby mechanickej konštrukcie ani programu.<br><b>Prosíme vedúcich tímov, aby zachovali svoju integritu dodržaním tohto pravidla</b>.</li>
					<li>Riešenie obsahuje: 
                                          <ol>
						<li>popis riešenia, </li>
						<li>spoločné foto vášho tímu, </li>
						<li>foto robota, z ktorého vidno ako je skonštruovaný</li>
						<li>program</li>
						<li> a video ako robot vyrieši úlohu.</li>
					</ol>
 <i>Tip: svoje video na YouTube označte ako "unlisted/nezaradené"
                            a nik ho pred termínom odoslania nenájde, aj keď ho tam už budete mať. Pri nahrávaní videa sa snažte, aby ste kamerou/telefónom čo najmenej triasli, aby sa na video dalo dívať, nahrajte viac ako jednu situáciu, ale pokúste sa vojsť do 2 minút. Video prosím nahrávajte na šírku nie na výšku. Do videa nezaraďujte fotografie, tie nahrajte priamo.</i>
					</li>
					<li>Môžete použiť ľubovoľné súčiastky LEGO, okrem toho gumičky, lanká a pod. Môžete použiť ľubovoľný programovací jazyk.</li>
					<li>Vaše riešenie získa do celkového ligového hodnotenia 0-3 body - započíta sa vám tá z dvoch úloh, za ktorú získate lepšie hodnotenie. Môžete vyriešiť obidve, nevyužité body budeme tiež evidovať a nakoniec nejako oceníme.</li>
					<li>Riešenia hodnotí skupina nezávislých rozhodcov.</li>
					<li>Ak sa vám zdá úloha náročná, zjednodušte si ju podľa potreby! Aj čiastočné riešenie nás zaujíma a môžete získať aspoň časť bodov.</li>
				</ul>

				<h2>Ako hodnotíme?</h2>
				<p>
                    Vaše riešenia si dôkladne prezrú títo štyria ľudia: Karolína - šikovná odborná asistentka z FMFI UK, Miška - z FMFI UK, Paľo z FMFI UK a Rišo - učiteľ na FEI STU, organizáciu súťaže koordinuje Paľo Petrovič - učiteľ na FMFI UK:
				</p>
				<ul id="photo_gallery">
					<li><img src="image/karolina_mayerova.jpg"><br>Karolína Miková</li>
					<li><img src="image/michaela_axamitova.jpg"><br>Michaela Axamitová</li>
					<li><img src="image/richard_balogh.jpg"><br>Richard Balogh</li>
					<li><img src="image/pavel_petrovic.jpg"><br>Pavel Petrovič</li>
				</ul>
				<p>
                    Každý z nich nezávisle od ostatných pridelí 0-3 body podľa toho, či riešenie je kompletné (obsahuje obrázky, video, program, dobrý popis a robot robí to, čo má) a nakoľko ich zaujme. Do tabuľky sa vám započíta aritmetický priemer. Vyhodnocujeme zvlášť slovenské a medzinárodné poradie.
				</p>
				<p><i>Poznámka: Robotická liga je samostatná súťaž, ale je vhodná ako predsúťažný tréning pre iné súťaže a pripravuje ju združenie <a href="http://robotika.sk/" target="_top">Robotika.SK</a> v spolupráci s <a href="http://www.fmph.uniba.sk/">FMFI UK</a>, <a href="http://www.fei.stuba.sk/">FEI STU</a> a <a href="http://www.cvtisr.sk/">CVTI SR</a>. RL je súčasťou projektu Robocoop financovaného z projektu Interreg.</i></p>
                                <p>GDPR: Robotická liga je on-line platforma na zdieľanie riešení. Za obsah a súhlas s publikovaním riešení, fotodokumentácie a videodokumentácie zodpovedá ten, kto riešenia na stránku nahral. Riešenia zostávajú v archíve zverejnené neobmedzene. Robotika.SK okrem toho archivuje e-mailové adresy tímov zadané v registrácii pre účel komunikácie s tímami. V prípade, že požadujete, aby niektoré fotografie, alebo mailové adresy boli zo stránky odstránené, napíšte na e-mail: pavel.petrovic@gmail.com. Účasťou v súťaži súťažiaci vyjadrujú súhlas s týmito pravidlami.</p>
			</div>
