<h2>Welcome to the Robot League!</h2>
                <h2>Announcements:</h2>
                <ul>
                    <li><i>The Robot League 2023 stars in January, join us! Participants from all over the World are invited to join the Open League - let us all learn together! </i></li>
                    <!-- <li><b>In this year, you can earn additional points if you solve at least one round of the partner robot league in Austria:</b><ul><li>registration and information: <a href="https://ecer.pria.at/en/homepage-en/">see ECER pages</a></li></ul></li>
		    <li><b>The final dates for uploading solutions in 2021: April 9<sup>th</sup>, April 28<sup>th</sup>, May 15<sup>th</sup>, May 29<sup>th</sup>, June 17<sup>th</sup>.</b></li> -->
		    <li><b>Dates for submitting the solutions in the year 2023:</b> <br>
                                    <table style="background-color:#D0D0EE">
                                            <tr style="background-color:#A0A0EE">
                                                    <th>&nbsp;</th>
                                                    <th>&nbsp;&nbsp;&nbsp;&nbsp;round&nbsp;&nbsp;&nbsp;&nbsp;</th>
                                                    <th>&nbsp;&nbsp;task specification published by&nbsp;&nbsp;</th>
                                                    <th>&nbsp;&nbsp;last day to upload your solution&nbsp;&nbsp;</th><th>&nbsp;</th></tr>
                                            <tr height="3"></tr>
					    <tr align="left"><td width="20">&nbsp;</td><td align="center">1</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;January 20th 2023</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<s>February 26th 2023</s> <b>March 5th 2023</b></td><td width="30">&nbsp;</td></tr>
					    <tr align="left"><td></td><td align="center">2</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;February 19th 2023</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<s>March 26th 2023</s> <b>March 31st 2023</b></td></tr>
                                            <tr align="left"><td></td><td align="center">3</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;March 19th 2023</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;April 30th 2023</td></tr>
                                            <tr align="left"><td></td><td align="center">4</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;April 16th 2023</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May 28th 2023</td></tr>
                                            <tr align="left"><td></td><td align="center">5</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;May 14th 2023</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;June 25th 2023</td></tr></table>

                    </li>
                    <li>Register an account and then upload your solution directly on the task specification page. In case of any difficulties with uploading a solution, you can send it via e-mail to the following address: <i>pavel.petrovic@gmail.com</i></li>
                </ul>

                <h2>Do you like to build and program LEGO robots? Join the Robot League!</h2>
                <ul>
                    <li>there will be 5 rounds, but you can try to compete in any number of them</li>
                    <li>for teams with multiple members of the ages 9-16 (you don't have to be registered in another competition, we are an independent contest)</li>
                    <li>a new assignment with two tasks approximately every 4 weeks and you have at least 5 weeks to solve it</li>
		    <li>in each round, there will task for rabbits (2 tasks) and for tigers (2 tasks)</li>
                    <li>every team will choose if they wish to submit a rabbit task or tiger task, they will score on a separate result table. 
			rabbit tasks are meant for those who started to work with the robot sets this school year or recently, and tiger tasks for the rest of us</li>
		    <li>in addition to the solution to a task, you can upload information about any other robot model you built (even not built of LEGO pieces). We will evaluate these models as well, but the main purpose is to share them with other teams, visitors and us! These models are published at <a href="https://galeria.robotika.sk/">galeria.robotika.sk</a> - please contact us at pavel.petrovic@gmail.com, if you would like to contribute!</li>
                    <li>fair play and a healthy competitive spirit</li>
                    <li>participation costs nothing! you can enjoy solving 16 various tasks per season!</li>
                    <li>no stress and tournament frustrations, you and the robot have as much time and the number of trials as you need to complete the mission</li>
                    <li>you can't miss this!</li>
                </ul>

                <h2>Rules</h2>
                <ul>
                    <li>A team solves an assignment in the club, school or at home and uploads their solution on this website.</li>
                    <li>Each team has an adult leader who is responsible for the activities of the team and the content uploaded, but he or she does not help the team with solving the tasks.</li>
                    <li>A solution should contain: <ol>
			<li>a description of the solution,</li>
			<li>a photo of the team,</li>
			<li>a photo of the robot showing how the robot is constructed</li>
			<li>the program</li>
			<li>and a video showing how the robot solves the problem.</li>
			</ol>
			 <i>Hint: Nobody will find
                            your video on YouTube if you mark it as "unlisted", even if you upload it before the deadline. When recording the video, make sure to keep the phone/camera stable, do record multiple situations so that the jury can see your robot really solves the task, try to keep the length under 2 minutes. Please use the landscape mode. </i>
                    </li>
                    <li>You can use any LEGO parts, as well as rubber bands and ropes. Any programming language is allowed. </li>
                    <li>Your solution will be rated with 0-3 points, which will be added to your overall current year score. The better score from the two tasks in the assignment will be counted, but you can solve both tasks (the other score will be counted separately).</li>
                    <li>An independent jury is in charge of rating your solutions</li>
                    <li>If you find an assignment too difficult, simplify it according to your needs! (And explain it in the solution)</li>
                </ul>

                <h2>How do we rate?</h2>
                <p>
                    Your solutions will be precisely analysed by these 4 people: Karolína - assistant professor at FMFI UK, Miška from FMFI UK who helped us in organizing FLL, Palo from FMFI UK and Rišo - teacher at FEI STU, the contest is coordinated by Pavel Petrovič - a teacher from FMFI UK:
                </p>
				<ul id="photo_gallery">
					<li><img src="image/karolina_mayerova.jpg"><br>Karolína Miková</li>
					<li><img src="image/michaela_axamitova.jpg"><br>Michaela Axamitová</li>
					<li><img src="image/richard_balogh.jpg"><br>Richard Balogh</li>
					<li><img src="image/pavel_petrovic.jpg"><br>Pavel Petrovič</li>
				</ul>
                <p>
                    Every one of them will independently assign 0-3 points, depending on the originality and completeness of the solution (it contains pictures, a video, a program,
                    a good description and the robot is doing what he should be doing). The arithmetic mean of their ratings will be added to the table. 
                </p>
                <br>
                <p><i>Note: The Robot League is not a direct part of another competition, but it can be useful as a pre-competition training brought by <a href="http://robotika.sk/" target="_top">Robotika.SK</a>, <a href="http://www.fmph.uniba.sk/">FMFI UK</a>, <a href="http://www.fei.stuba.sk/">FEI STU</a>, and <a href="http://www.cvtisr.sk">CVTI SR</a>. RL is a part of the project Robocoop financed by the EU project Interreg.</i></p>
            </div>
