                <h2>Welcome to the Robot League!</h2>
                <h2>Announcements:</h2>
                <ul>
                                        <li><b>We have postponed the deadlines by 1 week (1st round: March 1st) so that you have sufficient time for all rounds</b></li>
                    <li><i>The Robot League 2019 has just been launched, join us! Participants from all over the World are invited to join the Open League - learn together with all of us! </i></li>
                    <li>In case of any difficulties with uploading a solution, you can send it via e-mail to the following address: <i>pavel.petrovic@gmail.com</i></li>
                </ul>

                <h2>Do you like to build and program LEGO robots? Join the Robot League!</h2>
                <ul>
                    <li>we are starting in second half of January</li>
                    <li>there will be 8 rounds, but you can try to compete in any number of them</li>
                    <li>for teams with multiple members of the ages 9-16 (you don't have to be registered in FLL, we are an independent contest)</li>
                    <li>a new assignment with two tasks every 2 weeks and you have 4 weeks to solve it</li>
                    <li>fair play and a healthy competitive spirit</li>
                    <li>to participate costs nothing! you may solve up to 16 tasks!</li>
                    <li>no stress and tournament frustrations, you and the robot have as much time and the number of trials as you need to complete the mission</li>
                    <li>you can't miss this!</li>
                </ul>

                <h2>Rules</h2>
                <ul>
                    <li>A team solves an assignment in the club, school or at home and uploads their solution on this website.</li>
                    <li>Each team has an adult leader who is responsible for the activities of the team and the content uploaded, but he or she does not help the team with solving the tasks.</li>
                    <li>A solution should contain: <ol>
			<li>description of the solution,</li>
			<li>a photo of the team,</li>
			<li>a photo of the robot showing how the robot is constructed</li>
			<li>the program</li>
			<li>and a video showing how the robot solves the problem.</li>
			</ol>
			 <i>Hint: Nobody will find
                            your video on YouTube if you mark it as "unlisted", even if you upload it before the current deadline. When recording the video, make sure to keep the phone/camera stable, do record multiple situations so that the jury can see your robot really solves the task, try to keep the length under 2 minutes. Please use the landscape mode. </i>
                    </li>
                    <li>You can use any LEGO parts, as well as rubber bands and ropes. Any programming language is allowed, although we recommend the standard programing language NXT-G, EV3, or Robolab </li>
                    <li>Your solution will be rated with 0-3 points, which will be added to your current year's progress. The better score from the two tasks in the assignment will be counted, but you can solve both tasks (the other score will be counted separately).</li>
                    <li>An independent jury is in charge of rating your solutions</li>
                    <li>If you find an assignment too difficult, simplify it according to your needs! (And explain it in the solution)</li>
                </ul>

                <h2>How do we rate?</h2>
                <p>
                    Your solutions will be precisely analysed by these 4 people: Ľubo - IT student of FMFI UK, Miška or Karolína - assistant professors at FMFI UK, Miška from FMFI UK who helps us in organizing FLL, and Rišo - teacher at FEI STU, the contest is coordinated by Pavel Petrovič - a teacher from FMFI UK:
                </p>
				<ul id="photo_gallery">
					<li><img src="image/dominika_harmanova.jpg"><br>Luboš Miklošovič</li>
					<li><img src="image/michaela_veselovska.jpg"><br>Michaela Veselovská</li>
					<li><img src="image/karolina_mayerova.jpg"><br>Karolína Mayerová</li>
					<li><img src="image/michaela_axamitova.jpg"><br>Michaela Axamitová</li>
					<li><img src="image/richard_balogh.jpg"><br>Richard Balogh</li>
					<li><img src="image/pavel_petrovic.jpg"><br>Pavel Petrovič</li>
				</ul>
                <p>
                    Every one of them will independently assign 0-3 points, depending on the originality and completeness of the solution (it contains pictures, a video, a program,
                    a good description and the robot is doing what he should be doing). The arithmetic mean of their ratings will be added to the table. 
                </p>
                <br>
                <p><i>Note: The Robot League is not a direct part of FLL, it should be considered as a pre-competition training brought by <a href="http://robotika.sk/" target="_top">Robotika.SK</a>, <a href="http://www.fmph.uniba.sk/">FMFI UK</a>, <a href="http://www.fei.stuba.sk/">FEI STU</a>, and <a href="http://www.cvtisr.sk">CVTI SR</a>. RL is a part of the project Robocoop financed by the EU project Interreg.</i></p>
            </div>
