@{permission:0:0:1}
@{include_php:new_solution}
@{save_ok}
<form method="post" id="assignment_form" enctype="multipart/form-data">
	<div id="MissingInfo" style="color:red; font-size: large; font-weight: bold"> </div>
	@{cat_info}
	<h2>@{solution_assignment}: @{assignment_title}</h2>
	<p class="fix_height_solution">
		<textarea name="solution" id="solution">@{solution_text}</textarea>
	</p>
	<h2>@{solution_programs}</h2>
	<ul class="upload_image">
@{get_programs_solution}
	</ul>
	<input type="file" class="multiupload" name="upload_programs[]" multiple="multiple">
	<h2>@{solution_videos}</h2>
	<ul class="upload_image">
@{get_youtube_videos}
	</ul>
	<p>
		<input type="text" name="youtube_link" id="youtube_link" placeholder="http://www.youtube.com/watch?v=">
		<input type="submit" name="add_youtube" value="@{solution_addyoutube}">
	</p>
	<h2>@{solution_photos}</h2>
	<ul id="photo_gallery" class="upload_image">
@{get_images_solution}
	</ul>
	<input type="file" class="multiupload" name="upload_images[]" multiple="multiple">
	<div id="MissingInfo2" style="color:red; font-size: large; font-weight: bold"> </div>
	<p id="unsaved_changes" class="alert alert-warning" style="display: none">@{unsaved_changes}</p>
	<p>
		<input type="hidden" name="save_solution" value="ok">
		<input type="hidden" name="id_assignment" value="@{new_assignment_id}">
		<button type="submit" class="btn btn-success" id="saveButton"><span class="glyphicon glyphicon-file"></span> @{solution_save}</button>
		<button type="button" id="preview_button" class="btn btn-info">@{solution_preview}</button>
		<a href="./?page=assignment&id=@{assignment_group_id}" class="btn btn-warning">@{solution_overview}</a>
	</p>
</form>
<script src="js/tinymce/tinymce.min.js"></script>
<script>
tinymce.init({
	selector: 'textarea',
	setup: function(editor) {
			editor.on('Change', function () {
				var hasUndo = editor.undoManager.data.length > 0;
				if (hasUndo) {
					$("#unsaved_changes").show();
				}
				else {
					$("#unsaved_changes").hide();
				}
			console.log("yo");
		})
	},
	height: 400,
	menubar: false,
	plugins: [
		'advlist autolink lists charmap print preview anchor',
		'searchreplace visualblocks code fullscreen textcolor',
		'insertdatetime media table contextmenu paste code'
	],
	toolbar: 'undo redo | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor backcolor fontsizeselect',
});
</script>

<link rel="stylesheet" href="js/fancybox/jquery.fancybox.css" type="text/css" media="screen">
<link rel="stylesheet" href="js/fancybox/jquery.fancybox.custom.css" type="text/css" media="screen">
<script type="text/javascript" src="js/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript">
$("#photo_gallery li a").fancybox({
	afterShow: function () {
		var url = $(this).attr("href");
		$(".fancybox-image").wrap("<a href='" + url + "' target='_blank' />");
	}
});

</script>

<script>
	window.onload = function() {
		if("@{UpdateProfile}") {
			var updateNoticeDiv = document.getElementById('MissingInfo');
			var updateNoticeDiv2 = document.getElementById('MissingInfo2');
			var saveButton = document.getElementById('saveButton');
			updateNoticeDiv.innerText = "@{solution_missing_info}";
			updateNoticeDiv2.innerText = "@{solution_missing_info}";
			saveButton.style.display = 'none';
		}
	};
</script>

<script>
	document.getElementById('preview_button').addEventListener('click', function () {
	var url = window.location.href;
	var urlParams = new URLSearchParams(window.location.search);
	var assignment_id = urlParams.get('id-assignment');
	var id_team = urlParams.get('id-team');
    window.open('./?page=solution-preview&id-assignment=' + assignment_id + '&id-team=' + id_team, '_blank');
});
</script>